.content {
	width: 1160px;
	height: 90%;
	background-color: rgb(44,45,59);
	float: right;
}

.content .block {
	width: 1065px;
	height: 360px;
	margin-left: 50px;
}
.content .first-block {
	margin-top: 40px;
}
.content .second-block {
	margin-top: 60px;
}
.content .block .base-leavel-text {
	margin-top: 7px;
	display: block;
	width: 200px;
}
.content .block .base-leavel-text:nth-child(2) {
	float: left;
}

.content .block .item-conteiner .item {
	min-width: 255px;
	height: 294px;
	float: left;
	margin-right: 11px;
	border-radius: 6px;
	background-color: rgb(55,56,70);
	margin-top: 15px;
}
.content .block .item-conteiner .item:hover {
	outline: 6px solid gray;
	transition: .2s;
}
.content .block .item-conteiner .item:last-child {
	margin-right: 0px;
}
.content .block .item-conteiner .item .image-item {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px 6px 0 0;
	width: 100%;
	height: 144px;
}
.content .block .item .image-item img {
	height: 100%;
	width: 100%;
}
.content .item-conteiner .item .about-lection {
	width: 100%;
	height: 90px;
	border-bottom: 1px solid rgb(71,72,85);
	overflow: hidden;
}
.item .about-lection .name-lection {
	margin-top: 12px;
	margin-left: 15px;
	margin-right: 25px;
}
.font-style-jost {
	font-family: 'Jost', sans-serif;
	color: white;
}
.item .about-lection .description-name {
	font-family: 'Jost', sans-serif;
	color: rgb(155,155,162);
	font-size: 14px;
	line-height: 18px;
	display: block;
	margin-top: 5px;
}
.item .lection-bottom .data-lection {
	color: white;
	line-height: 30px;
	display: block;
	float: left;
	font-size: 13px;
}
.item .lection-bottom {
	margin-top: 16px;
	margin-left: 15px;
	width: 225px;
	height: 30px;
}
.item .lection-bottom .viev-btn,
.block .slider .viev-btn{
	transition: .4s;
	color: white;
	background-color: rgb(107,105,249);
	border: none;
	padding: 6px 19px;
	border-radius: 5px;
	font-size: 13px;
	display: block;
	float: right;
}
.block .slider {
    height: 30px;
    float: right;
    margin-top: -7px;
    margin-right: 10px;
}
.block .slider .viev-btn {
	float: right;
	margin-left: 15px;
	font-size: 12px;
	padding: 6px 13px;
}
.first-block .slider .viev-btn {
	width: 86px;
}
.block .slider .slide-right-left img {border-radius: 2px;}
.block .slider .slide-right-left img:hover {
	cursor: pointer;
	transition: .2s;
	background-color: gray;

}
.block .slider .slide-right-left {
	float: right;
	margin-left: 10px;
}
.block .item .viev-btn:hover,
.block .slider .viev-btn:hover {
	transition: .2s;
	background-color: white;
	color: black;
	cursor: pointer;
}
.block .item .whatTheVideo{
	font-family: 'Jost', sans-serif;
    color: white;
    font-size: 12px;
    background-color: rgb(107,105,249);
    border-radius: 3px;
    text-align: center;
    display: block;
    width: 45px;
    height: 18px;
    padding: 1px 2px;
    position: relative;
    top: -266px;
    left: 15px;
	/* top: -266px;
	left: 15px; */
	/* background: url(../svg/lection-message.svg) no-repeat; */
}
.block .item-conteiner {
	overflow: hidden;
	height: 315px;
}
.block .item-conteiner .item:first-child,
.base-leavel-text {
	margin-left: 5px;
}

.block .item-conteiner .slider-track {
	display: flex;
	transition: .4s;
	flex-wrap: nowrap;
}