header {
	width: 100%;
	height: 71px;
	background: linear-gradient(90deg, rgba(48,50,66,1) 0%, rgba(48,50,66,1) 23%, rgba(44,45,59,1) 100%);
}
.logo-place,
.nav-conteiner,
.nav,
.notification,
.notification img,
.accaunt-photo,
.name-profile,
.pro-accaunt,
.online
{
	float: left;
}

.logo-place {
	width: 280px;
	height: 51px;
	background-color: rgb(48,50,66);
	padding-top: 19px;
	border-bottom: 1px solid rgb(65,67,81);
}
.logo-group {
	width: 138px;
	height: 37px;
	margin-left: 30px;
}
.main-header {
	width: 1160px;
	height: 70px;
	background-color: rgb(44,45,59);
	float: right;
	border-bottom: 1px solid rgb(65,67,81);
}
.nav-conteiner {
	width: 299px;
	height: 72px;
}
.nav {
	width: 298px;
	height: 24px;
	margin-top: 24px;
	border-right: 1px solid rgb(65,67,81);
}
.nav a .nav-image {
	vertical-align: middle;
}
.nav a:nth-child(1) {
	padding-left: 55px;
}
.nav a:nth-child(2) {
	padding-left: 28px;
	padding-top: 7px;
}
.nav a:nth-child(3) {
	padding-left: 23px;
}
.notification {
	transition: .1s;
	border-radius: 5px;
	background-color: rgb(59,59,73);
	margin-top: 24px;
}
.notification img{
	display: block;
	margin: 5px 10px;
}
.notification-one {margin-left: 312px;}
.notification-two {margin-left: 10px;}
.notification-count {margin-left: 10px;}
.notification .delStyle {margin: 0px -12px 0 0;}
.notification:hover {
	cursor: pointer;
	transition: .2s;
	background-color: darkgray;
}

.accaunt-photo {
	width: 44px;
	height: 44px;
	margin-left: 14px;
	margin-top: 14px;

}
.accaunt-photo:hover {
	outline: 2px solid gray;
	transition: .4s;
	cursor: pointer;
}
.name-profile:hover,
.pro-accaunt {
	cursor: pointer;
}
.name-profile {
	margin-left: 13px;
	margin-top: 22px;
}
.profile-header {
	width: 190px;
	height: 71px;
	float: left;
	position: absolute;
	right: 61px;
}
.online {
	position: relative;
	left: 17px;
	top: -3px;
}
.pro-accaunt {
	position: relative;
	left: 59px;
	top: -19px;
}

.profile-header .open-menu-block {
	display: none;
}
