@media only screen and (max-width: 560px) {
	.main-header .notification-one {
		margin-left: 0px;
	}
	.main-header .profile-header {
		position: static;
	}
	.block .item-conteiner .item {
		float: none;
		margin-bottom: 10px;
	}
	.content {
		max-width: 480px;
		width: 375px;
		float: left;
		overflow-x: hidden;
	}
	.main-header {
		position: fixed;
	}
	.wrapper {
  		left: 0px;
  		transform: translateX(0px);
  		width: 0px;
	}
	.main-header .nav-conteiner,
	.main-header .notification {
		display: none;
	}
	.main-header .profile-header {
		right: 0px !important;
		float: right;
		margin-right: 125px;
	}
	.content .block .base-leavel-text {
		float: left;
		width: 145px;
	}
	.content .slider {
		width: auto;
		float: none;
		margin-top: 80px;
		margin-right: 13px;
	}
	.content .slider .viev-btn {
		padding: 6px 86px;
		font-size: 16px;
		margin-right: 29px;
	}
	.main-header {
		max-width: 480px !important;
		width: 375px !important;
		float: left !important;
	}
	aside {
		display: none;
	}
	.sidebar>.logo-place {
		width: 190px;
		display: block;
		padding-top: 0px;
		margin-bottom: 20px;
	}
	.main-header .profile-header .open-menu-block {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		left: 10px;
		top: 20px;
	}
	body {
		background: #2c2d3b;
		min-width: 375px;
	}
	.content .block {
		margin-left: 30px;
		width: 300px !important;
	}
	section {
		position: fixed;
	}
	header {
		position: fixed;
		z-index: 100;
	}
	ul.font-style-jost {
		margin-top: 100px;
	}
	.content .block .item-conteiner {
		overflow: visible !important;
		height: auto;
		margin-top: 15px;
	}
	.content .item-conteiner .item {
		margin-top: 0px;
		margin-left: 0px;
		width: 255px;
	}
	.content .item-conteiner .slider-track {
		display: block;
		transition: .4s;
		transform: translateX(0px) !important;
	}

	.slider .slide-right-left {
		display: none;
	}
	.sidebar>.notification {
		display: block;
		margin-left: 15px;
	}
	.sidebar>.nav-conteiner {
		display: block;
		left: -26px;
		bottom: 50px;
		position: absolute;
	}
	.sidebar>.nav-conteiner .nav {
		border-right: none;
	}
}
@media only screen and (max-width: 1440px) {
	.wrapper {
		left: 0%;
		transform: translateX(0%);
	}
}