.content {
	overflow-y:scroll;
	overflow-x:hidden;
}
.content::-webkit-scrollbar {
	width: 6px;
}
.content::-webkit-scrollbar-trak {
	background: linear-gradient(90deg, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 40%, rgba(154,154,154,1) 40%, rgba(154,154,154,1) 50%, rgba(154,154,154,1) 60%, rgba(255,255,255,0.02) 60%, rgba(255,255,255,0.02) 100%);
}
.content::-webkit-scrollbar-thumb {
	background: #777;
}