aside {
	width: 280px;
	min-height: inherit;
	height: 100%;
	float: left;
	background-color: rgb(48,50,66);
}

.sidebar {
	width: 280px;
	height: 100vh;
	max-height: 900px;
}
ul.font-style-jost {
	margin-top: 30px;
	margin-left: 28px;
}

ul.font-style-jost li {
	list-style-type: none;
	font-size: 14px;
	display: block;
}
ul.font-style-jost>li {
	margin-bottom: 12px;
}
ul.font-style-jost li ul {
	margin-top: 18px;
	margin-left: -28px;
	margin-bottom: 20px;
	
}
ul.font-style-jost li ul a {
	display: block;
	width: 183px;
	border-left: 5px solid transparent;
	padding-left: 85px;
	line-height: 40px;
	color: rgb(152,153,161);
}

ul.font-style-jost li ul a:before {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	background: url(../svg/icon1-1.svg) no-repeat;
	position: absolute;
	left: 50px;
	margin-top: 11px;
}
ul.font-style-jost li ul li:nth-child(2) a:before {
	transition: .2s;
	background: url(../svg/icon2.svg) no-repeat;
}
ul.font-style-jost li ul li:nth-child(3) a:before {
	transition: .2s;
	background: url(../svg/icon3.svg) no-repeat;
}
ul.font-style-jost li ul li:nth-child(4) a:before {
	transition: .2s;
	background: url(../svg/icon4.svg) no-repeat;
}
ul.font-style-jost li ul li:nth-child(5) a:before {
	transition: .2s;
	background: url(../svg/icon5.svg) no-repeat;
}
ul.font-style-jost li ul li:nth-child(6) a:before {
	transition: .2s;
	background: url(../svg/icon6.svg) no-repeat;
}

ul.font-style-jost li ul a:hover {
	transition: .2s;
	background-color: rgb(56,57,72);
	border-left: 5px solid rgb(111,110,255);
	color: white;
}
ul.font-style-jost li ul li:nth-child(2) a:hover:before {
	background: url(../svg/icon2-1.svg) no-repeat;
}
ul.font-style-jost li ul li:nth-child(1) a:hover:before {
	transition: .2s;
	background: url(../svg/icon1.svg) no-repeat;
}
ul.font-style-jost li ul li:nth-child(3) a:hover:before {
	transition: .2s;
	background: url(../svg/icon3-1.svg) no-repeat;
}
ul.font-style-jost li ul li:nth-child(4) a:hover:before {
	transition: .2s;
	background: url(../svg/icon4-1.svg) no-repeat;
}
ul.font-style-jost li ul li:nth-child(5) a:hover:before {
	transition: .2s;
	background: url(../svg/icon5-1.svg) no-repeat;
}
ul.font-style-jost li ul li:nth-child(6) a:hover:before {
	transition: .2s;
	background: url(../svg/icon6-1.svg) no-repeat;
}
.menu-item .onclick {
	display: block;
	width: 220px;
}
.menu-item .checkmark {
	display: block;
	width: 10px;
	height: 6px;
	float: right;
	margin-top: 7px;
	background: url(../svg/checkmark.svg) no-repeat;
}
ul.dropdown-menu{
    width: 0px;
    height: 0px;
    margin: 0px !important;
    visibility: hidden;
	transition: all 0.2s;
	transform: scale(0);
}
aside .receve-newsletter {
	width: 220px;
	height: 22px;
	/*position: fixed;
	bottom: 101px;
	left: 28px;*/
	margin-top: -152px;
	margin-left: 29px;

}
.receve-newsletter p.font-style-jost {
	font-size: 14px;
	color: rgb(152,153,161);
	display: block;
	float: left;
}
.receve-newsletter img {
	display: block;
	float: right;
}
.sidebar>.notification,
.sidebar>.nav-conteiner,
.sidebar>.logo-place {
	display: none;
}

ul.is-active {
	width: auto;
	transition: .4s;
	visibility: visible;
	height: auto;
	transition: all .4s;
	transform: scale(1);
	margin-top: 18px !important;
    margin-left: -28px !important;
    margin-bottom: 20px !important;
}