* {
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
	color: white;
}
body {
	overflow-y: hidden;
}

.clearfix {
	clear: both;
}

.wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-height: inherit;
  height: 100%;
  width: 1440px;
	background-color: rgb(44,45,59);
}
section {
	width: auto;
	height: 100vh;
	background: linear-gradient(90deg, rgba(48,50,66,1) 0%, rgba(48,50,66,1) 23%, rgba(44,45,59,1) 68%, rgba(44,45,59,1) 100%);
}
